body {
    font-family: 'Baloo 2', cursive;
}
/********************* Card *********************/

.card {
    border: none !important;
}

.card-header {
    box-shadow: 0.1px 5px 7px -5px rgba(97, 94, 94, 0.63) ;
    border-radius: 0px 0px 5px 5px !important;
}

.header-heading {
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 2px #3f102daf;
}

/********************* Links *********************/

.link, .link:hover {
    text-decoration: none;
    color: black;
}


.header-link, .header-link:hover{
    color: white;
    text-decoration: none;
}

/********************* Buttons *********************/

/* .btn {
    border-radius: 0px;
    margin: 3px;
}

.btn:focus {
    box-shadow: none!important;
} */

.login-button {
    position: relative;
}

/********************* TempData *********************/

.temp-line {
    font-size: 1.3em;
    font-weight: 500;
}

.temp-num {
    font-weight: 700;
    color: #eb5e0b;
}

/********************* Chart *********************/

.custom-tooltip {
    background-color: #00bbd46c;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;

}

.tooltip-label {
    font-weight: bolder;
    align-self: center;
    padding: 4px 6px 0px 6px;
}

.tooltip-info {
    padding: 0px 6px 1px 6px;
}

.tooltip-info span {
    font-weight: 600;
}

.comment-card {
    margin: 3px;
    width: 100%;
}

Paper {
    align-content: center;
}

Toolbar {
    display: inline-flex;
}

.comment-list {
    border: 2px black;
}

.component-head {
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f57b51;
}